.TodoList-container{
    margin: 17rem 0rem 0rem 0rem;
    position: absolute;
    list-style: none;
    width: 60%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    font-size: 3rem;
}

ul{
    list-style:none;
}

@media (max-width: 1024px) {
    .TodoList-container{
        width: 98%;
    }
}