.ChangeAlert-bg {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgb(21, 45, 53, 0.8);
    z-index: 2;
}

.ChangeAlert-container {
    position: fixed;
    bottom: -1rem;
    left: -1rem;
    right: -1rem;
    padding: 3.4rem;
    background-color: #1e1e1f;
    color: #f2f4f5;
    z-index: 2;
    text-align: center;
    font-size: 2.5rem;
}

.ChangeAlert-container button {
    margin-top: 1.6rem;
    margin-bottom: 1.6rem;
    color: rgb(60, 123, 145);
    }